.DS_Store

.Trashes

*.swp

*.lock

*~.nib

DerivedData
DerivedData/

build/


*.pbxuser


*.mode1v3


*.mode2v3


*.perspectivev3

xcuserdata

*.moved-aside


!Podfile.lock
!Gemfile.lock
.idea
tm_build_errors

*.xccheckout